{{ 'custom-social-proof.css' | asset_url | stylesheet_tag }}
<div class="social-proof-container">
  <div class="social-proof-subcontainer page-width">
    <div class="animation-container">
      <div class="text-container">
        <p class="animate-text">{{ section.settings.page_heading }}</p>
      </div>
      <div class="text-customers">
        <p class="animate_description">{{ section.settings.serveduser }}</p>
      </div>
    </div>

    <div class="section-container">
      {% for block in section.blocks %}
        {% if block.type == 'socialProof' %}
          <div class="proof-container">
            <div class="proof-card">
              <div class="upper-container">
                <p class="card-heading">{{ block.settings.card_heading }}</p>
                <p class="card-description">{{ block.settings.card_description }}</p>
                <a href="{{ block.settings.button_url }}">Chat Now</a>
              </div>
              <hr>
              <div class="below-container">
                <div class="win-service-cont">
                  <span>{% render 'icon-success' %}</span>
                  <p>{{ block.settings.service_type }}</p>
                </div>
                <div class="live-chat">
                  <span>{% render 'icon-snapchat' %}</span>
                  <p>{{ block.settings.service_time }}</p>
                </div>
                <div class="help-center">
                  <span>{% render 'icon-pinterest' %}</span>
                  <p>{{ block.settings.service_helpline }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}

      <div class="slider-container">
        <div class="slider ">
          {% for block in section.blocks %}
            {% if block.type == 'VideoProof' %}
              <div
                class="card slide1"
              >
                {% comment %} <div
                  class="social-proof-popup"
                  >
                  {% render 'icon-youtube' %}
                  <span>Watch</span>
                </div> {% endcomment %}
                {% comment %} <video controls autoplay muted loop 
                  class="social-proof-popup"
                  data-rbox-autoplay="true"
                  data-rbox-controls="true"
                  data-rbox-width="480"
                  data-rbox-height="360"
                  data-rbox-video="{{ block.settings.slider_video.sources[0].url }}">
                  <source src="{{ block.settings.slider_video | video_tag }}">
                </video> {% endcomment %}
                <div class="video">
                 {{ block.settings.slider_video | video_tag: autoplay:true, loop: true, muted:true, id: "slider-video-social", 
                    data-rbox-autoplay: "true", data-rbox-controls: "true", data-rbox-width: "480", data-rbox-height: "360", 
                    data-rbox-video: block.settings.slider_video.sources[0].url }}
                </div>
                <img src="{{ block.settings.slider_video.preview_image |  image_url  }}" alt="videoimage" width="100%" height="100%">
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('.slider').slick({
      dots: false,
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      centerMode: true,
      cssEase: 'linear',
      speed: 700,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            arrows: false,
            centerMode: true,
            slidesToShow: 1,
          },
        },
      ],
    });
    $('.video video').prop('muted', true);

    $(document).on('click', '.video video', function () {
      $('#slider-video-social').rbox({
        type: 'video'
      });
    });
  });

  // if($('.animate-text').is(":visible")){
  //   alert("welcome");
  // }
  // else{
  //   alert("No luck");
  // }
  $(document).ready(function () {
    // Function to check if an element is in the viewport
    function isElementInViewport(elem) {
      var $elem = $(elem);

      // Get the position of the element
      var elemTop = $elem.offset().top;
      var elemBottom = elemTop + $elem.outerHeight();

      // Get the viewport dimensions
      var viewportTop = $(window).scrollTop();
      var viewportBottom = viewportTop + $(window).height();

      // Check if the element is within the viewport
      return elemBottom >= viewportTop && elemTop <= viewportBottom;
    }

    // Check if an element with class 'your-element-class' is in the viewport
    $(window).scroll(function () {
      if (isElementInViewport('.animate-text')) {
        $('.animate-text').addClass('animation-forwards');
      }
    });
  });
</script>

{% schema %}
{
  "name": "Social Proof",
  "settings": [
    {
      "type": "text",
      "label": "Enter Page Heading",
      "id": "page_heading"
    },
    {
      "type": "text",
      "label": "Enter Number of Users served",
      "id": "serveduser"
    }
  ],
  "blocks": [
    {
      "type": "socialProof",
      "name": "Social Proof",
      "settings": [
        {
          "type": "text",
          "label": "Enter card heading",
          "id": "card_heading"
        },
        {
          "type": "text",
          "label": "Enter card description",
          "id": "card_description"
        },
        {
          "type": "url",
          "label": "Enter button url",
          "id": "button_url"
        },
        {
          "type": "text",
          "label": "Enter service type",
          "id": "service_type"
        },
        {
          "type": "text",
          "label": "Enter service time",
          "id": "service_time"
        },
        {
          "type": "text",
          "label": "Enter Helpline Text",
          "id": "service_helpline"
        }
      ]
    },
    {
      "type": "VideoProof",
      "name": "VideoProof",
      "limit": 10,
      "settings": [
        {
          "type": "video",
          "label": "Upload Video",
          "id": "slider_video"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Social Proof"
    }
  ]
}
{% endschema %}
