{{ 'custom-collection-list.css' | asset_url | stylesheet_tag }}

<div class="main-collection-contianer">
  <div class="sub-container1 page-width">
    {% for block in section.blocks %}
      {% if block.type == 'pageheading' %}
        <div class="page-heading">
          {% if block.settings.heading != blank %}
            <p class="page-title">{{ block.settings.heading }}</p>
          {% endif %}
          {% if block.settings.description != blank %}
            <p class="page-descrip">{{ block.settings.description }}</p>
          {% endif %}
        </div>
      {% endif %}
      {% if block.type == 'listcollection' %}
          <div class="upper-grid">
            {% for collection in block.settings.collectionlist1 %}
              <div class="upper-div">
                <div class="image-container ">
                  <img src="{{ collection.image | image_url }}" width="100%" height="100%">
                </div>
                <div class="upper-collection-data">
                  <p class="collection-name">{{ collection.title }}</p>
                  <a href="#" class="shopnow-btn">Shop Now</a>
                  </div>
              </div>
            {% endfor %}
          </div>
      {% elsif block.type == 'sublistcollection' %}
        <div class="last-grid">
          {% for collection in block.settings.collectionlist2 %}
            <div class="each-div">
              <div class="img-container2">
                <img src="{{ collection.image | image_url }}" width="100%" height="100%">
                {% comment %} <img src="{{ collection.image1 | image_url }}" alt="image to be displayed" width="100%" height="100%"> {% endcomment %}
              </div>
              <div class="collection-data-container">
                <p>{{ collection.title }}</p>
                <a href="#" class="shopnow-btn">Shop Now</a>
              </div>
            </div>
          {% endfor %}
          <div class=" each-div last-div">
            <h2>Sale</h2>
            <a href="#">Shop Now</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Collection List",
  "settings": [],
  "blocks": [
    {
      "type": "listcollection",
      "name": "CollectionList",
      "settings": [
        {
          "type": "collection_list",
          "id": "collectionlist1",
          "label": "Enter the List of collections to be listed",
          "limit": 4
        }
      ]
    },
    {
      "type": "sublistcollection",
      "name": "SubCollectionList",
      "settings": [
        {
          "type": "collection_list",
          "id": "collectionlist2",
          "label": "Enter the List of sub-collections to be listed",
          "limit": 5
        }
      ]
    },
    {
      "type": "pageheading",
      "name": "PageHeading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Enter the heading of the page"
        },
        {
           "type": "text",
           "id": "description",
          "label": "Enter the description of the page"
        }
      ]
    }
  ],
  "presets": [
  {
    "name": "Collection-List",
    "settings": {},
    "blocks": [
      {
        "type": "listcollection"
      }
    ]
  }
]
}
{% endschema %}
