{{ 'custom-social-testimonial.css' | asset_url | stylesheet_tag }}
{{ 'custom-slider.css' | asset_url | stylesheet_tag }}

<div class="main-container">
  <div class="sub-testimonial-container page-width">
    <div class="page-heading">
      <p>{{ section.settings.page_heading }}</p>
    </div>
    <div class="container">
      <div class="slider-wrapper">
        <button type="submit" id="prev-btn" class="prev-btn slide-button">{% render 'icon-arrow' %}</button>

        <div class="carousel-container slides-container">
          {% for block in section.blocks %}
            {% if block.type == 'description' %}
              <div class="card">
                <div class="videoplayer">
                  <span class="close-btn">{% render 'icon-close' %}</span>
                  <video id="popup_video" controls loop>
                    <source src="{{ block.settings.video |  video_tag }}">
                  </video>
                </div>

                <div class="video-container">
                  <div class="popup-container">
                    {% render 'icon-youtube' -%}
                    <span>Watch Testimonial</span>
                  </div>
                  <img
                    src="{{ block.settings.video.preview_image |  image_url  }}"
                    class="banner-image"
                    alt="youtube video image here"
                    width="100%"
                    height="100%"
                  >
                </div>
                <div class="below-text-data">
                  <div class="data-container">
                    <p>{{ block.settings.customer_review }}</p>
                  </div>
                  <div class="bottom-img-btn">
                    <a href="{{ block.settings.product_data.url }}">Shop Now</a>
                    <div class="image_container">
                      <img
                        src="{{ block.settings.product_data.featured_image | image_url  }}"
                        width="100%"
                        height="100%"
                      >
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <button type="submit" id="next-btn" class="next-btn slide-button">{% render 'icon-arrow' %}</button>
      </div>
      <div class="slider-scrollbar">
        <div class="scrollbar-track">
          <div class="scrollbar-thumb">
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $(document).on('click', '.popup-container', function () {
      $(this).parents('.card').find('.videoplayer').addClass('active-player');
    });

    $(document).on('click', '.close-btn', function () {
      $('.videoplayer').removeClass('active-player');
      $('#popup_video').trigger('pause').get(0).currentTime=0;
    });

  });
</script>

<script>
  const initSlider = () =>{
    const cardList = document.querySelector('slider-wrapper .carousel-container');
    const slideButtons = document.querySelectorAll('slider-wrapper .slide-button');

    slideButtons.forEach(button => {
      button.addEventListener("click", () => {
        const direction = button.id === "prev-btn" ? -1 : 1;
        const scrollAmount = cardList.clientWidth * direction;
        console.log("button:clicked");
        cardList.scrollBy({ left: scrollAmount, behavior:"smooth"});
      })
    })

  }
  window.addEventListener("load", initSlider);
</script>

{% schema %}
{
"name": "Social testimonial",
"tag": "section",
"settings": [
{
"type": "text",
"label": "Enter Page Heading",
"id": "page_heading"
}
],
"blocks": [
{
"type": "description",
"name": "Enter description",
"settings": [
{
"type": "text",
"label": "Enter User review",
"id": "customer_review"
},
{
"type": "product",
"label": "Upload your product",
"id": "product_data"
},
{
"type": "video",
"id": "video",
"label": "URL",
"info": "Video plays in the popup."
}
]
},
{
"type": "image_block",
"name": "Image Upload Block",
"settings": [
{
"type": "product",
"label": "Upload product",
"id": "product_id"
}
]
}
],
"presets":[
{
"name": "Social testimonial"
}
],
"enabled_on": {
"templates": ["*"]
}
}
{% endschema %}
