{% comment %}
  {% section 'custom-header-announcement' %}}
  header header--middle-left header--mobile-center header--has-menu--has-account
  header__inline-menu
{% endcomment %}
{{ 'custom-mega-menu.css' | asset_url | stylesheet_tag }}
<script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
<div class="main-cont">
  <div class="  page-width main-nav-container">
    <nav class="mega-menu ">
      {% for block in section.blocks %}
        {% if block.type == 'text' %}
          <div class="logo-container">
            <img src="{{ block.settings.logoimage | image_url }}" style="width:75px">
          </div>

        {% elsif block.type == 'navbarlinks' %}
          <div class="navbar-container search-effect">
            <div class="burger-container" style="position: relative;">
              <span class="burger-bar burger-active">{% render 'icon-hamburger' %}</span>
              <span class="burger-bar nav-close">{% render 'icon-close' %}</span>
            </div>
            <ul>
              {% for link in block.settings.linklist.links %}
                <li class="search-effect">
                  {% if link != blank %}
                    <a href="{{ link.url }}">
                      <span>{{- link.title -}}</span>
                      <span class="careticon">{% render 'icon-caret' %}</span></a
                    >
                  {% endif %}
                  <span class="responsive-title-close">
                          {%- render 'icon-caret' %}
                          {{ link.title }}
                        </span>
                  <div class="outer-div">
                    <div class="page-width">
                      {% comment %} <a><span>{{- link.title | escape -}}</span></a> {% endcomment %}
                      
                      <div class="grid-cont">
                        <div class="mega-menu-left-cont">
                          {% for block in section.blocks %}
                            {% if block.type == 'first_block' %}
                              {% if block.settings.mega_menu_name == link.title %}
                                <div class="grid-item b1">
                                  <div class="image-container">
                                    <img
                                      src="{{ block.settings.product_image | image_url }}"
                                      alt="img to be displayed here"
                                      height="100%"
                                      width="100%"
                                    >
                                  </div>
                                  <div class="mega-menu-first-block-data">
                                    <h4>{{ block.settings.enter_product_title }}</h4>
                                    <p>{{ block.settings.enter_product_description }}</p>
                                    <a href="{{ block.settings.enter_button_url }}"
                                      ><button type="submit" class="submit-btn">
                                        {{ block.settings.enter_button_text }}
                                      </button></a
                                    >
                                  </div>
                                </div>
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        </div>
                        <div class="mega-menu-right-container">
                          {% for block in section.blocks %}
                            {% if block.type == 'blockdata' %}
                              {% if block.settings.mega_menu_name == link.title %}
                                <div class=" grid-item b2">
                                  <div class="image-container">
                                    <img
                                      src="{{ block.settings.product_image | image_url }}"
                                      alt="img to be displayed here"
                                      height="100%"
                                      width="100%"
                                    >
                                  </div>
                                  <div class="mega-menu-block-data-cont">
                                    <h4>{{ block.settings.enter_product_title }}</h4>
                                    <p>{{ block.settings.enter_product_description }}</p>
                                  </div>
                                </div>
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                          {% for block in section.blocks %}
                            {% if block.type == 'lastblock' %}
                              {% if block.settings.mega_menu_name == link.title %}
                                <div class="grid-item b2 last-block">
                                  <div class="mega-menu-block-data-cont">
                                    <h4>{{ block.settings.latsblocktitle }}</h4>
                                    <p>{{ block.settings.latsblockdescription }}</p>
                                    <a href="{{ block.settings.latsblockurl }}" class="block-icon">
                                      {%- render 'icon-caret' -%}
                                    </a>
                                  </div>
                                </div>
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              {% endfor %}
              <div class="find-my-solution-responsive">
                <a href="#" class="find-solution">Find My Solution</a>
                <a href="tel: +1-800-356-5221" class="first-link">
                  {%- render 'icon-share' %}
                  <span>Questions? Call us toll-free <strong>1-800-356-5221</strong></span>
                </a>
                <div class="res-action-nav">
                  <a href="#">
                    {%- render 'icon-play' %}
                    <span>My Favourites</span>
                  </a>
                  <a href="#">
                    {%- render 'icon-close' %}
                    <span>Sign In</span></a
                  >
                </div>
              </div>
            </ul>
          </div>

        {% elsif block.type == 'text1' %}
          <div class="find-my-solution search-effect">
            <a href="#" class="find-solution">{{ block.settings.buttontext }}</a>
          </div>
        {% elsif block.type == 'search-icon' %}
          <div class="search-bar">
            <predictive-search>
              <form action="{{ routes.search_url }}" method="get" role="search">
                <div class="form-container">
                  <img src="{{ block.settings.search-icon | image_url  }}" style="width:20px">
                  <input
                    type="search"
                    placeholder="     search"
                    id="myInput"
                    name="q"
                    value="{{ search.terms | escape }}"
                    role="combobox"
                    aria-expanded="false"
                    aria-owns="predictive-search-results"
                    aria-controls="predictive-search-results"
                    aria-haspopup="listbox"
                    aria-autocomplete="list"
                  >
                  <input name="options[prefix]" type="hidden" value="last">

                  <div id="predictive-search" tabindex="-1"></div>
                  <div class="main-search-cont">
                    <div class="ful-width-search">
                      <div class="sub-search-cont page-width">
                        <div class="suggestion-container">
                          <h1>Popular Search Terms</h1>
                          <ul>
                            <li>AirMini <span>&gt;</span></li>
                            <li>AirSense10 <span>&gt;</span></li>
                            <li>ResMed <span>&gt;</span></li>
                            <li>AirFit <span>&gt;</span></li>
                            <li>CPAP Mask <span>&gt;</span></li>
                          </ul>
                        </div>
                        <div class="recommend-cont">
                          {% for block in section.blocks %}
                            {% if block.type == 'textsuggestion' %}
                              <div class="quest">
                                {{ block.settings['question-heading'] }}
                              </div>
                              <div class="display-row">
                                <div class="suggest">
                                  <p>{{ block.settings.option1 }}</p>
                                  <a href="{{ block.settings.option1url }}">&gt;</a>
                                </div>
                                <div class="suggest">
                                  <p>{{ block.settings.option2 }}</p>
                                  <a href="{{ block.settings.option2url }}">&gt;</a>
                                </div>
                                <div class="suggest">
                                  <p>{{ block.settings.option3 }}</p>
                                  <a href="{{ block.settings.option3url }}">&gt;</a>
                                </div>
                                <div class="suggest">
                                  <p>{{ block.settings.option4 }}</p>
                                  <a href="{{ block.settings.option4url }}">&gt;</a>
                                </div>
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="close-container"><span class="close-btn">Close</span></div>
              </form>
            </predictive-search>
          </div>

        {% elsif block.type == 'cartimage' %}
          <div class="cart-btn search-effect">
            <a href="/cart">
              {%- liquid
                if cart == empty
                  render 'icon-cart-empty'
                else
                  render 'icon-cart'
                endif
              -%}
              <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
              {%- if cart != empty -%}
                <div class="cart-count-bubble">
                  {%- if cart.item_count < 100 -%}
                    <span aria-hidden="true">{{ cart.item_count }}</span>
                  {%- endif -%}
                  <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                </div>
              {%- endif -%}
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</div>

<script>
  $(document).ready(function () {
    // alert();
    $('.nav-close').hide();

    $('.main-cont')
      .mouseenter(function () {
        $(this).addClass('active1');
        $('.announcement-container').addClass('active-text-white');
        $('.announcement-bar').addClass('active-text-white');
        $('.announcement-bar svg').addClass('active-svg-header');
        $('.navbar-container ul li a').addClass('active-only-text-black');
        $('.mega-menu .find-my-solution a').addClass('background-black');
        $('.cart-btn a svg').addClass('active-svg');
        $(document).on('click', '.burger-container', function () {
          $('.nav-close').show();
          $('.burger-active').hide();
          $(this).find('svg').addClass('active-svg');
          $('.mega-menu .navbar-container ul').addClass('navbar-ul-active');

          $(document).on('click', '.burger-container', function () {
            $('.nav-close').hide();
            $('.mega-menu .navbar-container ul').removeClass('navbar-ul-active');
            $('.burger-active').show();
          });
        });

        $(document).on('click', 'input', function () {
          $('.search-effect').hide();
          // $('.main-cont').addClass('active1');
          $('.logo-container').addClass('logo-hide');
          $('.search-bar').addClass('adjust-margin');
          $('.mega-menu .search-bar form input').addClass('slideeffect');
          $('.close-btn').css('display', 'flex');
          $('.main-search-cont').css('display', 'block');
          $('.main-search-cont .sub-search-cont .recommend-cont').addClass('recommend-cont-active');
          $(document).on('click', '.close-btn', function () {
            $('.search-effect').show();
            // $('.main-cont').removeClass('active1');
            $('.logo-container').removeClass('logo-hide');
            $('.main-search-cont').css('display', 'none');
            $('.mega-menu .search-bar form input').removeClass('slideeffect');
            $('.close-btn').css('display', 'none');
            $('.search-bar').removeClass('adjust-margin');
            $('.findmy');
            $('.main-search-cont .sub-search-cont .recommend-cont').removeClass('recommend-cont-active');
          });
        });

        $('.navbar-container ul li')
          .mouseenter(function () {
            $('.outer-div').removeClass('active');
            $(this).find('.outer-div').addClass('active');
            $(this).find('.outer-div').addClass('outer-div-active');
            $(this).find('#rotate').css('transform', 'rotate(180deg)');
            $(document).on('click', 'responsive-title-close', function(){
              $(this).find('.outer-div').removeClass('outer-div-active');
            })
          })
          .mouseleave(function () {
            $(this).find('#rotate').css('transform', 'rotate(0deg)');
          });
      })
      .mouseleave(function () {
        $('.announcement-bar').removeClass('active-text-white');
        $('.mega-menu .find-my-solution a').removeClass('background-black');
        $('.announcement-container').removeClass('active-text-white');
        $('.announcement-bar svg').removeClass('active-svg-header');
        $('.navbar-container ul li a').removeClass('active-only-text-black');
        $(this).removeClass('active1');
        // $('.cart-btn svg').removeClass('active-text-black');
        $('.navbar-container ul li').find('.outer-div').removeClass('active');
        $('.navbar-container ul li').find('.outer-div').removeClass('outer-div-active');
        $('.cart-btn a svg').removeClass('active-svg');
      });
  });
</script>
<script>
  $(document).ready(function () {
    $('input').keyup(function () {
      $('main-search-cont').hide();
      const input = document.getElementById('myInput');
      const inputValue = input.value;
      console.log(inputValue);
    });
  });
</script>

{% schema %}
{
  "name": "Main-Menu",
  "settings": [
    {
      "id": "header",
      "label": "Navbar",
      "type": "text"
    }
  ],
  "max_blocks": 50,

  "blocks": [
    {
      "name": "Text",
      "type": "text",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "logoimage",
          "label": "Upload your logo"
        }
      ]
    },
    {
      "name": "Button Text",
      "type": "text1",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "buttontext",
          "label": "Enter Button Text"
        }
      ]
    },
    {
      "name": "SearchIcon",
      "type": "search-icon",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "search-icon",
          "label": "Upload search Icon"
        }
      ]
    },
    {
      "name": "Cart Image",
      "type": "cartimage",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "cartimage",
          "label": "Upload Cart Image"
        }
      ]
    },
    {
      "name": "navlink",
      "type": "navbarlinks",
      "settings": [
        {
          "type": "link_list",
          "id": "linklist",
          "label": "Link List"
        }
      ]
    },
    {
      "name": "First Block Data",
      "type": "first_block",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "mega_menu_name",
          "label": "Enter Mega Menu Name"
        },
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Enter Product Image"
        },
        {
          "type": "text",
          "id": "enter_product_title",
          "label": "Enter Product Title"
        },
        {
          "type": "text",
          "id": "enter_product_description",
          "label": "Enter Product Description"
        },
        {
          "type": "text",
          "id": "enter_button_text",
          "label": "Enter Button Text"
        },
        {
          "type": "url",
          "id": "enter_button_url",
          "label": "Enter button Url"
        }
      ]
    },
    {
      "name": "Block Data",
      "type": "blockdata",
      "limit": 40,
      "settings": [
        {
          "type": "text",
          "id": "mega_menu_name",
          "label": "Enter Mega Menu Name"
        },
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Enter Product Image"
        },
        {
          "type": "text",
          "id": "enter_product_title",
          "label": "Enter Product Title"
        },
        {
          "type": "text",
          "id": "enter_product_description",
          "label": "Enter Product Description"
        }
      ]
    },
    {
      "name": "lastblock",
      "type": "lastblock",
      "settings": [
        {
          "type": "text",
          "id": "mega_menu_name",
          "label": "Enter Mega Menu Name"
        },
        {
          "type": "text",
          "id": "latsblocktitle",
          "label": "Enter the Title"
        },
        {
          "type": "text",
          "id": "latsblockdescription",
          "label": "Enter the Description"
        },
        {
          "type": "url",
          "id": "latsblockurl",
          "label": "Enter the button url"
        }
      ]
    },
    {
      "name": "backgroundimage",
      "type": "background",
      "settings": [
        {
          "type": "image_picker",
          "id": "backgroundimage",
          "label": "Upload Background"
        },
        {
          "type": "text",
          "id": "imageheading",
          "label": "Enter Image Heading"
        },
        {
          "type": "text",
          "id": "imagedescription",
          "label": "Enter Image Description"
        },
        {
          "type": "text",
          "id": "firstbuttontext",
          "label": "First Button Text"
        },
        {
          "type": "url",
          "id": "firstbuttonurl",
          "label": "Enter First Button URL"
        },
        {
          "type": "text",
          "id": "secondbuttontext",
          "label": "First Button Text"
        },
        {
          "type": "url",
          "id": "secondbuttonurl",
          "label": "Enter Second Button URL"
        }
      ]
    },
    {
      "name": "ImagebelowContainer",
      "type": "textcontainer",
      "settings": [
        {
          "type": "text",
          "id": "question-heading",
          "label": "Enter the Question"
        },
        {
          "type": "text",
          "id": "option1",
          "label": "Enter First option Value"
        },
        {
          "type": "url",
          "id": "option1url",
          "label": "Enter First option URL"
        },
        {
          "type": "text",
          "id": "option2",
          "label": "Enter Second option Value"
        },
        {
          "type": "url",
          "id": "option2url",
          "label": "Enter Second option URL"
        },
        {
          "type": "text",
          "id": "option3",
          "label": "Enter Third option Value"
        },
        {
          "type": "url",
          "id": "option3url",
          "label": "Enter Third option URL"
        },
        {
          "type": "text",
          "id": "option4",
          "label": "Enter Fourth option Value"
        },
        {
          "type": "url",
          "id": "option4url",
          "label": "Enter Fourth option URL"
        },
        {
          "type": "text",
          "id": "option5",
          "label": "Enter Fifth option Value"
        },
        {
          "type": "url",
          "id": "option5url",
          "label": "Enter Fourth option URL"
        },
        {
          "type": "text",
          "id": "buttontext",
          "label": "Enter Fifth button Value"
        }
      ]
    },
    {
      "name": "SuggestionBelowContainer",
      "type": "textsuggestion",
      "settings": [
        {
          "type": "text",
          "id": "question-heading",
          "label": "Enter the Question"
        },
        {
          "type": "text",
          "id": "option1",
          "label": "Enter First option Value"
        },
        {
          "type": "url",
          "id": "option1url",
          "label": "Enter First option URL"
        },
        {
          "type": "text",
          "id": "option2",
          "label": "Enter Second option Value"
        },
        {
          "type": "url",
          "id": "option2url",
          "label": "Enter Second option URL"
        },
        {
          "type": "text",
          "id": "option3",
          "label": "Enter Third option Value"
        },
        {
          "type": "url",
          "id": "option3url",
          "label": "Enter Third option URL"
        },
        {
          "type": "text",
          "id": "option4",
          "label": "Enter Fourth option Value"
        },
        {
          "type": "url",
          "id": "option4url",
          "label": "Enter Fourth option URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Mega-Menu",
      "settings": {},
      "blocks": [
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
