{% comment %}
  Custom Section which displays traetment section
{% endcomment %}

{{ 'custom-treatment.css' | asset_url | stylesheet_tag }}

<div class="treatment-section">
  <div class="page-width treatment-container">
    {% for block in section.blocks %}
      {% if block.type == 'pageheading' %}
        <div class="treatment-upper-container">
          {% if block.settings.pageheading != blank %}
            <h1>{{ block.settings.pageheading }}</h1>
          {% endif %}
          {% if block.settings.pagedescription != blank %}
            <p>{{ block.settings.pagedescription }}</p>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
    <hr class="treatment-divider">
    <div class="treatment-below-container">
      {% for block in section.blocks %}
        {% if block.type == 'question' %}
          <h1>{{ block.settings.questiontext }}</h1>
        {% endif %}
      {% endfor %}
      <div class="treatment-main-below-container">
      {% for block in section.blocks %}
        {% if block.type == 'options' %}
          <div class="treatment-options-container">
            {% if block.settings.optiontext != blank %}
              <p>{{ block.settings.optiontext }}</p>
            {% endif %}
            {% if block.settings.btn_url != blank %}
              <a href="{{ block.settings.btn_url }}">{% render 'icon-caret' %}</a>
            {% endif %}
          </div>
        {% endif %}
        {% if block.type == 'lastcontainer' %}
          <div class="last-container treatment-options-container">
            {% if block.settings.lastcontainertext != blank %}
              <p>{{ block.settings.lastcontainertext }}</p>
            {% endif %}
            {% if block.settings.lastContainerURl != blank %}
              <a href="{{ block.settings.lastContainerURl }}">Reorder</a>
            {% endif %}
            </div>
          {% endif %}
        {% endfor %}
        </div>
    </div>
  </div>
</div>

<script>

  $(document).ready(function () {
    // Function to check if an element is in the viewport
    function isElementInViewport(elem) {
      var $elem = $(elem);

      // Get the position of the element
      var elemTop = $elem.offset().top;
      var elemBottom = elemTop + $elem.outerHeight();

      // Get the viewport dimensions
      var viewportTop = $(window).scrollTop();
      var viewportBottom = viewportTop + $(window).height();

      // Check if the element is within the viewport
      return elemBottom >= viewportTop && elemTop <= viewportBottom;
    }

    // Check if an element with class 'your-element-class' is in the viewport
    $(window).scroll(function () {
      if (isElementInViewport('.treatment-section')) {
        $('.treatment-below-container').addClass('treatment-active');
        $('.treatment-upper-container').addClass('treatment-upper-active');
      }
    });
  });
</script>

{% schema %}
{
  "name": "Treatment Section",
  "tag": "section",
  "settings": [],
  "max_blocks": 7,
  "blocks": [
    {
      "name": "pageheading",
      "type": "pageheading",
      "settings": [
        {
          "type": "text",
          "id": "pageheading",
          "label": "Enter Page Heading"
        },
        {
          "type": "text",
          "id": "pagedescription",
          "label": "Enter Page Description"
        }
      ]
    },
    {
      "name": "question",
      "type": "question",
      "settings": [
        {
          "type": "text",
          "id": "questiontext",
          "label": "Enter the question text"
        }
      ]
    },
    {
      "name": "options",
      "type": "options",
      "settings": [
        {
          "type": "text",
          "id": "optiontext",
          "label": "Enter the answer text"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Enter the button Url"
        }
      ]
    },
    {
      "name": "lastcontainer",
      "type": "lastcontainer",
      "settings": [
        {
          "type": "text",
          "id": "lastcontainertext",
          "label": "Enter the question text"
        },
        {
          "type": "url",
          "id": "lastContainerURl",
          "label": "Enter the order url"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "Treatment Section",
      "settings": {},
      "blocks": []
    }
  ]
}
{% endschema %}
